rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isAdmin() {
      return request.auth != null &&
        request.auth.token.phone_number in ['+918929394920','+917497073993'];
    }

    match /item-requests/{fileName} {
      allow write: if request.resource.size < 25 * 1024 * 1024;
      allow read: if isAdmin();
    }

    match /product-images/{fileName} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
